<li>
<%= f.label :field_id, "Field" %>
<%= f.collection_select :field_id, Billing::Field.all, :id, :name %>
<%= f.label :value, "Limit" %>
<%= f.text_field :value %>
<%= link_to "Remove", "#delete", :class => "delete-plan-limit" %>
</li>
